<div class="row">
  <h1>List of Tutors</h1>
  <% @users.each do |user| %>
  <div class="small-12 medium-4 columns profile-card">
      <div class="small-12 columns">
          <img class="profile-list-image" src="http://api.randomuser.me/portraits/med/women/82.jpg">
      </div>
      <div class="small-12 columns">
        <h4><%= link_to user.first_name, user_path(user)%></h4>
        <p><%= user.city %>, <%= user.state%></p>
        <p><%= user.location %></p>
      </div>
  </div>
  <% end %>
</div>
