<div class="row">
  <% @users.each do |user| %>
  <div class="small-12 medium-4 columns profile-card">
      <div class="small-12 columns">
        <a href="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="profile image"> </a>
      </div>
      <div class="small-12 columns">
        <h4><%= link_to user.first_name, user_path(user)%></h4>
        <p><%= user.city %>, <%= user.state%></p>
        <p><%= user.location %></p>
      </div>
  </div>
  <% end %>
</div>
