<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <div class="small-6 large-4 columns">

      <h1><%= @user.first_name%></h1>
      <ul>
        <li><%= @user.last_name %></li>
        <li><%= @user.email %></li>
      </ul>
    </div>
  </div>
</div>
