<div class="row">
  <% if user_signed_in? %>
    <div class="row">
      <div class="small-12 small-centered medium-8 medium centered columns news-feed">
        <aside class="col-md-4">
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
        <div class="medium-8 columns">
          <h3>Activity Feed</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
    </div>
  <% else %>
  <ul class="example-orbit" data-orbit>
    <li>
      <img src="http://placehold.it/1000x300/A92B48/fff" alt="slide 1" />
      <div class="orbit-caption"> Caption One. </div>
    </li>
    <li>
      <img src="http://placehold.it/1000x300/EE964D/fff" alt="slide 2" />
      <div class="orbit-caption"> Caption Two. </div>
    </li>
    <li>
      <img src="http://placehold.it/1000x300/FDC43D/fff" alt="slide 3" />
      <div class="orbit-caption"> Caption Three. </div>
    </li>
  </ul>

  <% end %>
</div>
