<div class="row">
  <% if user_signed_in? %>
    <div class="row">
      <div class="small-12 small-centered medium-8 medium centered columns news-feed">
        <aside class="col-md-4">
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
        <div class="medium-8 columns">
          <h3>Activity Feed</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
    </div>
  <% else %>

    <div id=".small-6 large-6 columns">
      <h1> Learn Link </h1>
    </div>
    <div id="small-6 large-6 columns">
          <a class="large button" href="users/sign_up" >Sign Up Here!</a>
    </div>
  <% end %>
</div>
