@import "*";
// Default medium-gray color
$medium-gray: #cacaca;
// Default global padding
$global-padding: 1rem;
// Global value used for all elements that have a border radius.
$global-radius: 3px;

// Setting the form border color
$form-border-color: $medium-gray;
// Setting the form padding
$form-padding: $global-padding;
// Setting the form border radius
$form-radius: $global-radius;

body {
  font-family: 'Vollkorn', serif;
  background-color: #FFFFFF;
}
.sign-up-form {
  border: 1px solid $form-border-color;
  padding: $form-padding;
  border-radius: $form-radius;
}

.messages {
  max-height: 400px;
  margin-bottom: 1em;
  margin-top: 1em;
}
.bump{
  margin-top: 50px;
  padding-right: 30px;
  padding-left:30px;
}

.profile-circle {
  border: 5px solid $white;
  border-radius: 50%;
  height: 175px;
  box-shadow: 5px 5px 5px $black;
  overflow: hidden;
  position: relative;
  width: 175px;
}

.profile-card {
  border: 5px solid #466d98;
  text-align: center;
  background-color: #F2F2F2;
  padding-top: 15px;
  padding-bottom: 10px;
}

.profile-list-image {
  border-radius: 50%;
  width: 40%;
  height: 40%;
  display: block;
  margin: auto;
}

.title-area {
  list-style-type: none;
}

.right {
  list-style-type: none;
}

.profile-name {
  margin-bottom: 35px;
}

.profile-head {
  list-style-type: none;

}
